@charset "utf-8";

body{
	margin: 0px;
	padding: 0px;
	font-family: Cooper;
}

<style>
	.it {
		padding: 0 0 40px;
	}
	.head {
		display: grid;
		padding: 100px 20px 50px;
	}
	.title {
		place-self: center;
		margin-bottom: 40px;
		font-family: Cooper;
		font-size: 40px;
	}
	.hello {
		place-self: center;
		margin-bottom: 30px;
		font-family: Calibri;
		font-weight: bold;
		font-size: 25px;
	}
	.links {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;	
	}



	a {
		place-self: center;
	}
	.nsvto {
		place-self: center;
		border-radius: 20px;
		padding: 8px 15px;
		width: 10%;
		background-color: var(--menubg);
		box-shadow: 0 10px 40px -10px rgb(0 64 128 / 20%);
    	transition: box-shadow .3s;
    }

	.nsvto:hover {
		color: #fff;
		background: purple;
	}
	
</style>

<script>
export default {
		data() {
			return {
				exercises: [
					{ name: '2', link: '/school/it273/chapter2' },
					{ name: '3', link: '/school/it273/chapter3' },
					{ name: '4', link: '/school/it273/chapter4' },
					{ name: '5', link: '/school/it273/chapter5' },
					{ name: '6', link: '/school/it273/chapter6' },
					{ name: '7', link: '/school/it273/chapter7' },
					{ name: '8', link: '/school/it273/chapter8' },
				]
			}
			
		}
	}
</script>




*{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

#main{
	width: 100%;
	height: 100vh;
	position: relative;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #FFFFFF;
}

.logo img{
	height: 45px;
}

nav ul{
	display: flex;
}

nav ul li a{
	height: 40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #585b5b;
	letter-spacing: 1px;
}

.hey{
	color: #39bfbd;
	font-weight: 500;
	font-size: 0.9rem;
	border-bottom: 2px solid #40c6c4;
}

nav ul li a:hover{
	background-color: #2adabc;
	color: #FFFFFF;
	box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
	transition: all ease 0.2s;
}

.model img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.model{
	width: 500px;
	height: 500px;
}

.content{
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.main-text{
	width: 500px;
}

.main-text h1{
	font-size: 3.5rem;
	color: #1c3548;
	margin: 0px 0px 10px 0px;
	line-height: 60px;
}

.main-text p{
	color: #747474;
	font-family: Courier New;
}

.portfolio-btn,
.recent-btn{
	width: 190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2);
}

.portfolio-btn:hover,
.recent-btn:hover,
.contact-input a:hover{
	background-color: #23cdaf;
	transition: all ease 0.2s;
}

#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: auto auto 50px auto;
}

.skill-text{
	width: 400px;
}

.skill-img{
	width: 600px;
	height: 600px;
}

.skill-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.skill-heading span{
	color: #36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}

.skill-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin: 0px;
	font-weight: 400;
	letter-spacing: 1px;
}

.s-box-container{
	margin-top: 30px;
}

.skill-box{
	display: flex;
	margin: 25px 0px;
}

.s-box-icon{
	margin-right: 12px;
}

.s-box-icon i{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 1.1rem;
}

.s-box-text strong{
	color: #1c3548;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}

.s-box-text p{
	color: #747474;
	font-size: 0.9rem;
}

.fa-html5{
	color: #e06061;
}

.fa-css3-alt{
	color: #416cdf;
}

#recent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
	flex-direction: column; 
}

.recent-heading span,
.client-heading span{
	color: #36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1rem;
}

.recent-heading h3,
.client-heading h3,
#contact h3{
	color: #1c3548;
	font-size: 3rem;
	margin: 0px;
	font-weight: 400;
	letter-spacing: 1px;
}

.recent-img{
	margin: 0px 40px;
}

.recent-img img{
	width: 100%;
	height: 100%;
}

.recent-btn{
	width: 190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24, 139,119, 0.2);
}

.recent-btn{
	width: 190px;
	margin-top: -20px;
}

#contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 0px;
}

#contact h3{
	font-size: 2.5rem;
	margin: 20px;
}

#contact img{
	height: 300px;
}

.contact-input{
	width: 400px;
	height: 50px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
}

.contact-input input{
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	text-align: center;
	color: #242425;
}

.contact-input a{
	width: 200px;
	height: 35px;
	background-color: #1db096;
	color: #FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}

footer{
	display: flex;
	justify-content: space-around;
	border-top: 1px solid rgba(232, 232, 232, 0.5);
	background-color: #FFFFFF;
}

footer p{
	margin: 15px 0px;
	color: #5f5f5f;
	font-size: 0.9rem;
	font-family: Courier New;
	font-weight: bold;
}

nav .menu-btn,
.menu-icon{
	display: none;
}

@media(max-width: 1140px){
	.content{
		width: 100%;
	}
	.model{
		width: 400x;
		height: 400px;
	}
	.main-text,.model{
		margin: 10px;
	}
	.main-text h1{
		font-size: 3rem;
	}
	.skill-img{
		width: 400px;
		height: 400px;
	}
}
@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
	}
	.logo img{
		height:35px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#FFFFFF;
		border-bottom:4px solid #1db096;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#333333;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#333;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:400px;
	}
	.skill-img{
		width:40%;
		height:300px;
	}
	.skill-img img{
		object-fit: cover;
		object-position: left;
	}
	.recent-heading h3,
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
	.recent-heading{
		text-align:center;
		padding:0px 15px;
	}
	
}
@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
	}
	#contact img{
		height:200px;
	}
	footer{
		justify-content: center;
		padding:10px 20px;
	}
	footer p{
		text-align: center;
	}
	.recent-btn{
		margin:0px;
	}
}
@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-img{
		display:none;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}